# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
*.log


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual Environments
venv/
env/
ENV/
venv.bak/
.venv/

# Environment variables
.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pytest
.cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# FastAPI
instance/
instance/*

# Logs
*.log

# IDEs and text editors
.vscode/
.idea/
*.swp
*~
